name: Test with pytest

on: [push, pull_request]

jobs:
    test:
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.7", "3.8", "3.9", "3.10"]
                os: [ubuntu-latest, macOS-latest, windows-latest]

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install flit pytest
            - name: Install module
              run: |
                  flit install
            - name: Run tests
              run: |
                  pytest

    coverage:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install flit pytest coverage
            - name: Install module
              run: |
                  flit install
            - name: Run tests
              run: |
                  coverage run -m pytest
                  coverage xml
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v2
              with:
                  verbose: true
